@model VideoGame;
@{
    ViewData["Title"] = "Game Details";
}
<h1>@ViewData["Title"]</h1>


<li>@Model.Title</li>
<li>Publisher: @Model.Publisher</li>
<li>Studio: @Model.Studio</li>
<li>Year: @Model.Year</li>
<li>Player Count: @Model.PlayerCount</li>
<li>Category: @Model.Category</li>
<li>Price: @Model.Price</li>