@model VideoGame;
@{
    ViewData["Title"] = "GamesDetails";
}
<h1>@ViewData["Title"]</h1>


<li>@Model.Title</li>
<li>@Model.PublisherName</li>
<li>@Model.StudioName</li>
<li>@Model.Year</li>
<li>@Model.PlayerCount</li>
<li>@Model.Category</li>
<li>@Model.Price</li>